<div *ngIf="msg.length > 0">
    <ul *ngFor="let action of msg | filter: actionFlag | sort: sortedBy">
        <li>{{action.time | date:'mm:ss'}} User <strong>{{action.action}}</strong> button</li>
    </ul>
</div>
<h2 *ngIf="msg.length <= 0">To start a game, click the Start button</h2>

<div>
    <label>Filter by action:</label>
    <select [(ngModel)]="actionFlag">
        <option *ngFor="let action of actionOptions" [ngValue]="action">{{action}}</option>
    </select>
</div>

<div>
    <label>Sort by time:</label>
    <select [(ngModel)]="sortedBy">
        <option *ngFor="let time of timeOptions" [ngValue]="time">{{time}}</option>
    </select>
</div>


