<ngx-snake #game (foodEaten) = "onFoodEaten($event)"></ngx-snake>
    <button  #start name="start" (click)="game.actionStart()" (click)="onClickedButton(start)" (click)="timer.startCountdown()">Start</button>
    <button  #stop (click)="game.actionStop()" (click)="onClickedButton(stop)" (click)="timer.stopCountdown()">Stop</button>
    <button  #reset (click)="game.actionReset()" (click)="onClickedButton(reset)">Reset</button>
    <button  #up (click)="game.actionUp()" (click)="onClickedButton(up)">Up</button>
    <button  #left (click)="game.actionLeft()" (click)="onClickedButton(left)">Left</button>
    <button  #right (click)="game.actionRight()" (click)="onClickedButton(right)">Right</button>
    <button  #down (click)="game.actionDown()" (click)="onClickedButton(down)">Down</button>
    
    <app-actions-log [msg]="actionArray"></app-actions-log>
    <app-timer></app-timer>


<p>Score: {{snakeFoodEaten}}</p>

