.ng-valid[required], .ng-valid.required  {
  border: 5px solid #7ad17e;
  background-color: #b2e2b4;
}

.ng-invalid:not(form)  {
  border: 3px solid #b12e2c; 
  background-color: #e7a1a0;
}

.username-error {
  color: #690e0e;
}